* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  font-family: 'Merriweather', serif;
}