* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  font-family: 'Merriweather', serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #25293C;
}

body::-webkit-scrollbar-thumb {
  background: #6842CD;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #7E73F1;
}